.myPosts {
    background-color: black;
}

.deleteImg {
    border: none;
    color: white;
    cursor: pointer;
    height: 24px;
    padding: 5px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 24px;
    z-index: 2;
}

.showLikesPostsFavs {
  font-size: 20px;
}

/****************MOBILE*****************/
